*{
    padding: 0;
    margin: 0;
    color: white;
    box-sizing: border-box;
}

body{
    background-color: rgb(20,20,20);
}

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700&display=swap');

.container{
    max-width: 400px;
    background-color: rgb(31,31,31);
    font-family: 'Red Hat Display', sans-serif;
}

.img1{
    border-radius: 150px;
    height: 120px;
    width: 120px;
}

.txt{
    font-size: 30px;
}

.txt2{
    color: rgb(199,229,108);
    font-size: 20px;
}